<h2>Динамика</h2>
<%= simple_metric_graph(["Picture.count", "Всего"], ["Picture.count(1.week)", "Использовалось за 7 дней"], ["Picture.count(2.week)", "Использовалось за 14 дней"]) %>


<h2>Последнее</h2>

<% for picture in @pictures %>
  <%= image_tag picture.dst_url %>
<% end %>

